@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>
